<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<table>
  <tr>
    <td><b>Blog title</b></td>
    <td>Published</td>
    <td>Body</td>
    <td>toggle_status</td>
  </tr>

<% cache do%>

    <%= render partial: @blogs%>
<% end%>
<br>
</table>

<%= link_to 'New Blog', new_blog_path %>
