<h1>Portfolio Items</h1>
<%# <a href="portfolios/new" title="">Create New Item</a>  new_portfolio_path or url %>
<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>
<%=render partial: 'portfolio_item', collection: @portfolio_items %>