<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">When I take on a project I make it my goal to be part of a larger investment in team happiness and building product by ensuring each stage of the process is fully communicated.</p>
  <p class="lead">
    <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a>
</div>
